<%= render 'page_header' %>


<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">

    <p class=justified>
        My name is Miguel Salgado and I'm originally from Puerto Rico.  I moved to Chicago in 2006 after graduating from college as both a Biologist and Mechanical Engineer.  I currently work as a rotating equipment maintenance and reliability engineer for a major oil company in Northwest Indiana. I founded and led various diversity and inclusion initiatives within my company as I have a deep affinity for fairness and equality for all.  I also currently attend the Kellogg School of Business part-time MBA program where I am majoring in International Busines Strategy, and Entrepeneurship and Innovation.  I am also an active member of the Kellogg part-time MBA student association and am currently working to bring MOSAIC week diversity initiative to Wieboldt Hall.
    </p>
    <h2>
    Tallyhome!
    </h2>

    <p>
    Managing your belongings always becomes a difficult task. Unless you are a minimalist or live a very simple life, many of your belongings can suddenly become clutter that might stay unused for many years. With TallyHome! you will be able to build a database on most of your physical belongings within your household. With a centralized location, management becomes very easy as you will have an accessible visual representation of your home inventory. Avoid the things you own own you with TallyHome!.
    </p>

  </div>
</div>

