<%= render 'page_header' %>


<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">

<hr>

    <p>


    Managing your belongings always becomes a difficult task. Unless you are a minimalist or live a very simple life, many of your belongings can suddenly become clutter that might stay unused for many years. With TallyHome! you will be able to build a database on most of your physical belongings within your household. With a centralized location, management becomes very easy as you will have an accessible visual representation of your home inventory. Avoid the things you own own you with TallyHome!.
    </p>

<hr>

    <h2>
    About Me...
    </h2>

    <p class=justified>
        My name is Miguel Salgado and I was borned and raised in Puerto Rico.  I moved to Chicago in the year 2006 after graduating from college with degrees in both a Biology and Mechanical Engineering.  I currently work as a rotating equipment maintenance and reliability engineer for a major oil company in Northwest Indiana but have dreams of someday founding my own company. Additionally, I have created and led various diversity and inclusion initiatives within my company as I have a deep affinity for fairness and equality for all.  I am currently attending the Kellogg School of Business part-time MBA program where I am majoring in International Business Strategy, and Entrepeneurship and Innovation with a graduation date of August 2015. I am also a very active member of the Kellogg part-time MBA student association having led initiatives such as MOSAIC week and diversity admissions event for the Kellogg PT  student community.
    </p>

  </div>
</div>

