<div class="page_header">
  <h4>
    *Categories are like "rooms" where your items are kept or stored.  First, create a category before adding any new items.
  </h4>
  <h1>
    Your Categories
    <a href="/categories/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>
